body
{
    margin: 0px;
    padding: 0px;
}
.offcanvas-body
{
    background-color: #ffcf39;
}
.nav-link-active
{
    text-decoration: none;
    color: #1c1b1ba6;
}
.nav-link-active:hover
{
    color: #ffffffa6;
}
.sidebar-nav-item
{
    list-style: none;
}
#introduce
{
    background-color: #ffcf39;
    margin-top:75px ;
    height: 520px;
}
#max
{
    height: 500px;
    width: 450px;
}

#profile
{
    height: 500px;
    width: 450px;
    border-width:1px ;
    border-style: none;
    padding: 10px;
}
#description
{
    background-color: black;
    color: #ffcf39;
    height: 500px;
    width: 450px;
    border-width:1px ;
    border-style: none;
    padding: 10px;
    margin-top:10px;
    margin-left:10px;
}
.mail
{
    color: #ffffffa6;
}
.social-media + img
{
    color: #ffcf39;
}